.body {
    background-color: #262626;
}

.button {
    background-color: #151515;
    border: none;
    color: #63CD42;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    cursor: pointer;
    transition-duration: 0.4s;
    border: 1px solid black;
}

.button:hover {
    background-color: #63CD42;
    color: #151515;
}

.button-left {border-bottom-left-radius: 24px;}
.button-right {border-bottom-right-radius: 24px;}

.center-div {
    position: fixed;
    margin: 0 auto;
    width: 100%; 
    top: 0;
    left: 550px;
}

.image-stick-on-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.scroll-left {
    margin: 0 auto;
    top: 0;
    height: 50px;	
    overflow: hidden;
    position: relative;
    background: #151515;
    color: #63CD42;
    border: 1px solid black;
}

.scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    transform:translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 20s linear infinite;
}

/* Move it (define the animation) */
@keyframes scroll-left {
    0%   {
        transform: translateX(100%); 		
    }
    100% {
        transform: translateX(-100%); 
    }
}

.scroll-left:hover p {
    animation-play-state: paused;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  }
  
  .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 5s linear infinite;
  }
  
  .marquee2 span {
    animation-delay: 2.5s;
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
